.mis_libros{
    display: none;
}

.crear_libro{
    display: none;
}

.actualizar_libro{
    display: none;
}

.eliminar_libro{
    display: none;
}


.manager{
    overflow: auto;
    height: 92vh;
    
   
}
.manager::-webkit-scrollbar{
    width: 5px;
   
}
.crear_libro{
    padding: 100px;
}
.list-group{
    
    opacity:0.7;
}